{% load custom_filters %}
{% load static %}
<div class="wrapper">
    <div class="filter-wrapper">
        <h1 class="filters search-header">Фильтры</h1>
            <form id="advanced-filter">
                <div id="overlayFilters">
                    <h2 class="filters-track pl-0">Трассы</h2>
                        <div class="track-block">
                            <div class="track-block-name1 pl-0">
                                <div class="checkbox-name">
                                    <input type="checkbox" class="custom-checkbox" id="easy" name="trails" {% if easy %} checked {% endif %}>
                                    <label class="line-green label1" for="easy">Легкие</label>
                                </div>
                                <div class="checkbox-name">
                                    <input type="checkbox" class="custom-checkbox" id="medium" name="trails" {% if medium %} checked {% endif %}>
                                    <label class="line-blue label1" for="medium">Средней сложности</label>
                                </div>
                                <div class="checkbox-name">
                                    <input type="checkbox" class="custom-checkbox" id="increased-complexity" name="trails" {% if complex %} checked {% endif %}>
                                    <label class="line-orange label1" for="increased-complexity">Повышенной сложности</label>
                                </div>
                                <div class="checkbox-name">
                                    <input type="checkbox" class="custom-checkbox" id="difficult" name="trails" {% if difficult %} checked {% endif %}>
                                    <label class="line-black label1" for="difficult">Сложные</label>
                                </div>
                            </div>
                            <div class="track-block-name2 pl-0">
                                <div class="checkbox-name">
                                    <input type="checkbox" class="custom-checkbox" id="freeride" name="trails" {% if freeride %} checked {% endif %}>
                                    <label class="line-none label1" for="freeride">Фрирайд</label>
                                </div>
                                <div class="checkbox-name">
                                    <input type="checkbox" class="custom-checkbox" id="snowpark" name="trails" {% if snowpark %} checked {% endif %}>
                                    <label class="line-none label1" for="snowpark">Сноупарк</label>
                                </div>
                            </div>
                        </div>
                    <h2 class="filters-lift pl-0">Подъемники</h2>
                        <div class="lift-block">
                            <div class="lift-block-name1 pl-0">
                                <div class="checkbox-name">
                                    <input type="checkbox" class="custom-checkbox" id="bygel" name="lifts" {% if bugel %} checked {% endif %}>
                                    <label class="lift-name label1" for="bygel">Бугельные</label>
                                </div>
                                <div class="checkbox-name">
                                    <input type="checkbox" class="custom-checkbox" id="chairlifts" name="lifts" {% if chair %} checked {% endif %}>
                                    <label class="lift-name label1" for="chairlifts">Кресельные</label>
                                </div>
                            </div>
                            <div class="lift-block-name2 pl-0">
                                <div class="checkbox-name">
                                    <input type="checkbox" class="custom-checkbox" id="gandola" name="lifts" {% if gondola %} checked {% endif %}>
                                    <label class="lift-name label1" for="gandola">Гандолы</label>
                                </div>
                                <div class="checkbox-name">
                                    <input type="checkbox" class="custom-checkbox" id="travelators" name="lifts" {% if travelator %} checked {% endif %}>
                                    <label class="lift-name label1" for="travelators">Детские травалаторы</label>
                                </div>
                            </div>
                        </div>
                    <h2 class="filters-school pl-0">Горнолыжные школы/инструктора</h2>
                        <div class="school-block">
                            <div class="school-block-name1 pl-0">
                                <div class="checkbox-name">
                                    <input type="checkbox" class="custom-checkbox" id="adults" name="school" {% if adult %} checked {% endif %}>
                                    <label class="school-name label1" for="adults">Для взрослых</label>
                                </div>
                            </div>
                            <div class="school-block-name2 pl-0">
                                <div class="checkbox-name">
                                    <input type="checkbox" class="custom-checkbox" id="children" name="school" {% if child %} checked {% endif %}>
                                    <label class="school-name label1" for="children">Для детей</label>
                                </div>
                            </div>
                        </div>
                    <div class="filters-distance-block">
                        <h2 class="filters-distance pl-0">Расстояние от ближайшего аэропорта</h2>
                            <div class="slider-box mrl-15">
                                <input type="range" step="100" min="0" max="200" value="{{ distance }}" list="rangeList" class="slider search-slider" id="distance">
                            </div>
                                <div class="slider-box-name ml-0 mr-20">
                                    <div class="slider-name">Не более<br/>50 км</div>
                                    <div class="slider-name">Не более<br/>100 км</div>
                                    <div class="slider-name">Не<br/>важно</div>
                                </div>
                    </div>
                    <div>
                        <div class="filters-additional-block">
                            <div class="additional-block1 ml-0">
                                <div>
                                    <input type="checkbox" class="custom-checkbox2 hidden" id="rent" {% if rental %} checked {% endif %}>
                                    <label for="rent" class="additional-name label2">Прокат оборудования</label>
                                </div>
                            </div>
                            <div class="additional-block2 ml-0">
                                <div>
                                    <input type="checkbox" class="custom-checkbox2 hidden" id="skating" {% if evening %} checked {% endif %}>
                                    <label for="skating" class="additional-name label2">Вечернее катание</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>
    <div class="cards-wrapper search-cards">
        <h2 class="section-title2">{{ '' |string_formatting:resorts_length }}</h2>
        <div class="cards-content cards-content__start ">
            {% if resorts %}
                {% for resort in resorts %}
                    <div class="card-column">
                        <div class="card-item">
                            <div class="card-image">
                                <a href="{{ resort.get_absolute_url }}">
                                    <img {% if resort.image %} src='{{ resort.image.url }}' {% else %} src='/static/image/card/common_image.jpg' {% endif %} alt="{{ resort.name }}" class="image" width="348" height="240">
                                    <div class="card-title">
                                        <div class="card-title-name"><span>{{ resort.name }}</span></div>
                                        <div class="card-title-additionally">
                                            <span class="card-title-country">Россия,</span>
                                            <span class="card-title-region">{{ resort.region }}</span>
                                        </div>
                                    </div>
                                    <div class="card-rating">
                                        <div class="rating-content">
                                            <img src="{% static 'image/card/rating_icon.svg' %}" alt="Рейтинг">
                                            <div class="rating-value">{{ resort.web_rating }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="property">
                                    <div class="property-name">Протяженность трасс:</div>
                                    <div class="property-value">{% if resort.total_length_calculation %}{{ resort.total_length_calculation }}{% else %}{{ resort.trail_length2 }}{% endif %} км</div>
                                </div>
                                <div class="property">
                                    <div class="property-name">Перепад высот:</div>
                                    <div class="property-value">{{ resort.max_height_difference }} м</div>
                                </div>
                                <div class="count-trails">
                                    <ul class="count-trails-list">
                                        {% for i in resort.count_trail.items %}
                                            <li class="color-bar {{ i.0 }}">{{ i.1 }}</li>
                                        {% endfor %}
<!--                                                <li class="green">{{ resort.count_trail }}</li>-->
<!--                                                <li class="blue">{{ resort.count_trail }}</li>-->
<!--                                                <li class="red">{{ resort.count_trail }}</li>-->
<!--                                                <li class="black">{{ resort.count_trail }}</li>-->
                                    </ul>
                                </div>
                                <div class="property">
                                    <div class="property-name">Однодневный ски-пасс:</div>
                                    <div class="property-value">{{ resort.skipass_min }} ₽</div>
                                </div>
                                <div class="form-button">
                                    <button class="cards-btn btn-white">
                                        <svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M18 20.5V10.5" stroke="#D9D9D9" stroke-opacity="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 20.5V4.5" stroke="#D9D9D9" stroke-opacity="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M6 20.5V14.5" stroke="#D9D9D9" stroke-opacity="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </button>
                                    <button class="cards-btn {% if resort|in_favorites:request.user %} favorites-btn {% else %} btn-white {% endif %}" id="favorites-{{ resort.id_resort }}" {% if request.user.is_authenticated %} onclick="addtoFavorites('{{ resort.id_resort }}')" {% endif %}>
                                                <svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0119 6.07196L10.9249 4.98496C10.4155 4.46862 9.80891 4.05816
                                                    9.14015 3.7772C8.4714 3.49625 7.75368 3.35036 7.02831 3.34793C6.30295 3.3455 5.58426 3.48658 4.91364 3.76304C4.24302
                                                    4.03951 3.63372 4.4459 3.1208 4.95881C2.60789 5.47173 2.2015 6.08104 1.92503 6.75166C1.64857 7.42228 1.50749 8.14096
                                                    1.50992 8.86633C1.51235 9.59169 1.65824 10.3094 1.93919 10.9782C2.22014 11.6469 2.63061 12.2535 3.14695 12.763L11.9859
                                                    21.602L11.9879 21.6L12.0139 21.626L20.8529 12.787C21.3693 12.2775 21.7797 11.6709 22.0607 11.0022C22.3417 10.3334 22.4875
                                                    9.61569 22.49 8.89033C22.4924 8.16496 22.3513 7.44628 22.0749 6.77566C21.7984 6.10504 21.392 5.49573 20.8791 4.98281C20.3662
                                                    4.4699 19.7569 4.06351 19.0862 3.78704C18.4156 3.51058 17.6969 3.3695 16.9716 3.37193C16.2462 3.37436 15.5285 3.52025 14.8597
                                                    3.8012C14.191 4.08216 13.5844 4.49262 13.0749 5.00896L12.0119 6.07196ZM11.9879 18.772L16.9239 13.835L18.3739 12.435H18.3759L19.4389
                                                    11.373C20.0954 10.7165 20.4641 9.82626 20.4641 8.89796C20.4641 7.96965 20.0954 7.07937 19.4389 6.42296C18.7825 5.76655 17.8923
                                                    5.39778 16.9639 5.39778C16.0356 5.39778 15.1454 5.76655 14.4889 6.42296L12.0129 8.89996L12.0059 8.89296L9.51095 6.39996C8.85453
                                                    5.74355 7.96425 5.37478 7.03594 5.37478C6.10764 5.37478 5.21736 5.74355 4.56095 6.39996C3.90453 7.05637 3.53577 7.94665 3.53577
                                                    8.87496C3.53577 9.80326 3.90453 10.6935 4.56095 11.35L7.10094 13.89L7.10195 13.887L11.9879 18.773V18.772Z"
                                                    fill="#D9D9D9" fill-opacity="1"/>
                                                </svg>
                                    </button>
                                    <!-- <button class="cards-btn cards-btn-blue"><a href="pages/resorts.html">Подробнее</a></button> -->
                                    <a href="{{ resort.get_absolute_url }}"><button class="cards-btn cards-btn-blue">Подробнее</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2>Курорты не найдены</h2>
            {% endif %}
        </div>
    </div>
</div>