<h2 class="section-title2">2</h2>
                            <div class="cards-content">
                                {% if resorts %}

        {% for resort in resorts %}
<!--        {% for resort in filter.qs %-->
                            <div class="card-column">
                                <div class="card-item">

                                    <div class="card-image">
                                        <a href="{{ resort.get_absolute_url }}">
                                            <img src={{ resort.image.url }} alt="Роза Хутор" class="image" width="348" height="240">
                                            <div class="card-title">
                                                <div class="card-title-name"><span>{{ resort.name }}</span></div>
                                                <div class="card-title-additionally">
                                                    <span class="card-title-country">Россия,</span>
                                                    <span class="card-title-region">{{ resort.region }}</span>
                                                </div>
                                            </div>

                                        </a>
                                    </div>


                                    <div class="card-body">
                                        <div class="property">
                                            <div class="property-name">Протяженность трасс:</div>
                                            <div class="property-value">{{ resort.total_length_calculation }} км</div>
                                        </div>

                                        <div class="property">
                                            <div class="property-name">Перепад высот:</div>
                                            <div class="property-value">{{ resort.max_height_difference }} м</div>
                                        </div>

                                        <div class="count-trails">
                                            <ul class="count-trails-list">
                                                {% for i in resort.count_trail.items %}
                                                    <li class="color-bar {{ i.0 }}">{{ i.1 }}</li>
                                                {% endfor %}
<!--                                                <li class="green">{{ resort.count_trail }}</li>-->
<!--                                                <li class="blue">{{ resort.count_trail }}</li>-->
<!--                                                <li class="red">{{ resort.count_trail }}</li>-->
<!--                                                <li class="black">{{ resort.count_trail }}</li>-->
                                            </ul>
                                        </div>

                                        <div class="property">
                                            <div class="property-name">Однодневный ски-пасс:</div>
                                            <div class="property-value">{{ resort.ski_pass_one.price }} ₽</div>
                                        </div>

                                        <div class="form-button">
                                            <button class="cards-btn btn-white">
                                                <svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M18 20.5V10.5" stroke="#D9D9D9" stroke-opacity="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12 20.5V4.5" stroke="#D9D9D9" stroke-opacity="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6 20.5V14.5" stroke="#D9D9D9" stroke-opacity="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </button>



                                            <!-- <button class="cards-btn cards-btn-blue"><a href="pages/resorts.html">Подробнее</a></button> -->
                                            <a href="{{ resort.get_absolute_url }}"><button class="cards-btn cards-btn-blue">Подробнее</button></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
        {% endfor %}

    {% else %}
        <h2>Курорты не найдены</h2>
    {% endif %}


                            </div>