{% extends 'flatpages/default_resort.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
    <title>{{ resort.name }}</title>
{% endblock title %}


{% block content %}
 <main class="page">

            <section class="page-banner page_resorts-banner">
                <div class="banner-image _img">
                    <img src="{{ resort.main_resort_img.url }}" alt="Фото курорта">
                </div>
            </section>

            <section class="page-basic-info">
                <div class="wrapper">
                    <div class="basic-info-container">
                        <div class="basic-info-content">

                            <div class="basic-info-left">
                                <div class="basic-info-item basic-info-resort">
                                    <div class="resort-content">
                                        <div class="resort-name">{{ resort.name }}</div>
                                        <div class="resort-region">{{ resort.region }}</div>
                                        <a class="resort-link-site" href="{{ resort.link_ofsite }}" target="_blank">{{ resort.link_ofsite }}</a>
                                        <div class="resort-sezon">
                                            <span>Сезон катания 2022/2023:</span><br>
                                            <span>{{ resort.begin_season }} - {{ resort.end_season }}</span>
                                        </div>
                                    </div>
                                    <div class="resort-button">

                                        <div class="resort-button-box left">
                                            <button class="{% if resort|in_favorites:request.user %} resort-btn-favorites {% else %} resort-btn {% endif %}" id="favorites-{{ resort.id_resort }}" {% if request.user.is_authenticated %} onclick="addtoFavorites('{{ resort.id_resort }}')" {% endif %}>
                                            <!-- <button class="resort-btn resort-btn-favorites"> -->
                                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M 15.5639 5.3449 C 17.1372 3.8726 19.0409 2.5 21.7512 2.5 C 23.8888
                                                    2.5 25.9861 3.3689 27.4974 4.8807 C 30.6016 7.9839 30.6338 13.2387 27.4976 16.3737 L 16.4476 27.4237 C 16.2131 27.6581
                                                    15.8952 27.7898 15.5637 27.7898 C 15.2322 27.7898 14.9142 27.6581 14.6798 27.4237 L 3.6298 16.3737 C 0.4932 13.2371
                                                    0.4932 8.0175 3.6298 4.8809 C 5.1538 3.3569 7.2209 2.5007 9.3762 2.5007 C 12.0914 2.5007 13.9902 3.8712 15.5639 5.3449
                                                    Z Z" stroke="#FAA800" stroke-width="2px" fill-opacity="1"/>
                                                    </svg>
                                            </button>
                                            <div class="resort-btn-text" id="resort-favorites-text">{% if resort|in_favorites:request.user %} Добавлено {% else %} Добавить {% endif %}<br>в избранное</div>
                                            <!-- <div class="resort-btn-text">Добавлено <br>в избранное</div> -->
                                        </div>

                                        <div class="resort-button-box">
                                            <button class="resort-btn resort-btn-comparison">
                                                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M23 25.5V13" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M15.5 25.5V5.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M8 25.5V18" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M23 25.5V13" stroke="#FAA800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M15.5 25.5V5.5" stroke="#FAA800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M8 25.5V18" stroke="#FAA800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>                                        
                                            </button>
                                            <div class="resort-btn-text">Добавить <br>в сравнение</div>
                                            <!-- <div class="resort-btn-text">Добавлено <br>в сравнение</div> -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="block-vert-line"></div>

                            <div class="basic-info-right">
                                <div class="basic-info-item basic-info-description">

                                    <div class="resort-description"> {{ resort.info }}</div>




                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="page-additional-info">
                <div class="wrapper">
                    <div class="content-center">
                        <div class="additional-info-container">

                            <div class="additional-info-column">
                                <div class="additional-info-property">
                                    <ul class="nav-property">

                                        <li>Возможность проката
                                            {% if resort.equip_rental == 1  %}
                                            <img src="{% static 'image/resorts/status-icon-green.svg' %}" alt="">
                                            {% else %}
                                            <img src="{% static 'image/resorts/status-icon-red.svg' %}" alt="">
                                            {% endif %}
                                        </li>
                                        <li>
                                            Наличие школ катания
                                            {% if resort.school == 1 %}
                                            <img src="{% static 'image/resorts/status-icon-green.svg' %}" alt="">
                                            {% else %}
                                            <img src="{% static 'image/resorts/status-icon-red.svg' %}" alt="">
                                            {% endif %}
                                        </li>
                                        <li>
                                            Вечернее катание
                                            {% if resort.evening_skiing == 1 %}
                                            <img src="{% static 'image/resorts/status-icon-green.svg' %}" alt="">
                                            {% else %}
                                            <img src="{% static 'image/resorts/status-icon-red.svg' %}" alt="">
                                            {% endif %}
                                        </li>
                                        <li>
                                            Сноупарк
                                            {% if resort.snowpark == 1 %}
                                            <img src="{% static 'image/resorts/status-icon-green.svg' %}" alt="">
                                            {% else %}
                                            <img src="{% static 'image/resorts/status-icon-red.svg' %}" alt="">
                                            {% endif %}
                                        </li>
                                        <li>
                                            Фрирайд
                                            {% if resort.freeride == 1 %}
                                            <img src="{% static 'image/resorts/status-icon-green.svg' %}" alt="">
                                            {% else %}
                                            <img src="{% static 'image/resorts/status-icon-red.svg' %}" alt="">
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="additional-info-column">
                                <div>
                                    <div class="card-body">
                                        <div class="timer">
                                            <div class="timer__line">
                                                <svg class="pie" width="260" viewBox="0 0 40 40" stroke-dasharray="100">
                                                    <g>
                                                      <circle r="15.9155" cx="50%" cy="50%"></circle>
                                                      <circle r="15.9155" cx="50%" cy="50%" stroke-dashoffset="{{ resort.green_trails_circle }}"></circle>
                                                      <circle r="15.9155" cx="50%" cy="50%" stroke-dashoffset="{{ resort.blue_trails_circle }}"></circle>
                                                      <circle r="15.9155" cx="50%" cy="50%" stroke-dashoffset="{{ resort.black_trails_circle }}"></circle>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="timer__body">
                                                <div class="timer__counter">
                                                    <span>{{ resort.total_length_calculation }} км</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="timer-text">Общая протяжённость и сложность трасс</div>
                                    </div>
                                </div>
                            </div>
                            <div class="additional-info-column">
                                <div>
                                    <h3 class="nav-lift-title">Количество и виды подъемников:</h3>
                                    <ul class="nav-lift">

                                        {% for key, value in resort.count.items %}
                                        <li>
                                            <img src="{% static 'image/resorts/'|add:key|add:'.svg' %}" alt="">
                                            {% if key == "armchair" %}
                                                <span class="bl">Кресельный</span>
                                            {% elif key == "bugelny" %}
                                                <span class="bl">Бугельный</span>
                                            {% elif key == "gondola" %}
                                                <span class="bl">Гондольный</span>
                                            {% elif key == "travelators" %}
                                                <span class="bl">Траволатор</span>
                                            {% endif %}
                                            <span class="bl">{{ value }}</span>
                                         </li>
                                        {% endfor %}

                                    </ul>
                                </div>

                            </div>

                        </div>
                        <button class="resort-map">Карта курорта</button>
                    </div>
                </div>
            </section>

            <section class="page-price-skipass">
                <div class="wrapper">
                    <div class="content-center">
                        <h2 class="table-title">Стоимость ски-пасс</h2>
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Тип ски-пасса</th>
                                        <th>Название</th>
                                        <th>Цена, руб</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for row in resort.type_name_price %}
                                    <tr>
                                        <td>{{ row.type }}</td>
                                        <td>{{ row.name }}</td>
                                        <td>{{ row.price }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </section>

            <section class="page-reviews">
                {% include "reviews.html" %}

                {% if request.user.is_authenticated %}
                <div class="wrapper">
                    <div class="btn-container">
                        <button class="btn resort-add-review btn-primary" type="button" id="open-modal-add-review">Оставить отзыв</button>
                    </div>
                </div>
                {% endif %}
            </section>


<div class="modal" id="modal-add-review">
    <div class="modal-add-review__box">
            <button class="modal__close-btn close-btn__adding_review">
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.70659 0.292919C2.51799 0.110761 2.26539 0.00996641
                    2.00319 0.0122448C1.74099 0.0145233 1.49018 0.119692 1.30477 0.305101C1.11937 0.490509 1.0142 0.741321
                    1.01192 1.00352C1.00964 1.26571 1.11044 1.51832 1.29259 1.70692L6.58559 6.99992L1.29259 12.2929C1.19708
                    12.3852 1.1209 12.4955 1.06849 12.6175C1.01608 12.7395 0.988496 12.8707 0.987342 13.0035C0.986189 13.1363
                    1.01149 13.268 1.06177 13.3909C1.11205 13.5138 1.18631 13.6254 1.2802 13.7193C1.37409 13.8132 1.48574 13.8875
                    1.60864 13.9377C1.73154 13.988 1.86321 14.0133 1.99599 14.0122C2.12877 14.011 2.25999 13.9834 2.382 13.931C2.504
                    13.8786 2.61435 13.8024 2.70659 13.7069L7.99959 8.41392L13.2926 13.7069C13.4812 13.8891 13.7338 13.9899 13.996
                    13.9876C14.2582 13.9853 14.509 13.8801 14.6944 13.6947C14.8798 13.5093 14.985 13.2585 14.9873 12.9963C14.9895
                    12.7341 14.8888 12.4815 14.7066 12.2929L9.41359 6.99992L14.7066 1.70692C14.8888 1.51832 14.9895 1.26571 14.9873
                    1.00352C14.985 0.741321 14.8798 0.490509 14.6944 0.305101C14.509 0.119692 14.2582 0.0145233 13.996 0.0122448C13.7338
                    0.00996641 13.4812 0.110761 13.2926 0.292919L7.99959 5.58592L2.70659 0.292919Z" fill="#2C2D2E"/>
                </svg>
            </button>

            <form method="POST" class="form__adding_review" enctype="multipart/form-data" id="adding_review">
                <div class="review-resort-name resort-name__adding_review">{{ resort.name }}</div>
                <div class="review-resort-region">{{ resort.region }}</div>

                <div class="label__adding_review">Как бы вы оценили курорт?</div>
                <div class="stars">
                    <input type="radio" class="get_value" name="rating" value="1"/>
                    <input type="radio" class="get_value" name="rating" value="2"/>
                    <input type="radio" class="get_value" name="rating" value="3"/>
                    <input type="radio" class="get_value" name="rating" value="4"/>
                    <input type="radio" class="get_value" name="rating" value="5"/>
                    <input type="hidden" id="rating_value" value="0">
                </div>

                {% csrf_token %}
                {{ review_form.resort }}
                <div class="label__adding_review">Ваш отзыв:</div>
                {{ review_form.text }}
                {{ review_form.author }}

                <div class="label__adding_review">Дополни свой отзыв фотографиями</div>
                <div class="foto-container">
                    <label for="foto_review" class="foto-field" style="cursor: pointer;">
                        <div class="user_foto_container">
                            <img id="preview" class="user_foto" height="32px">
                        </div>
                    </label>
                    <input type="file" name="photo" id="foto_review">
                </div>
                <div class="review-row review-row__btn">
                    <button class="form__button" type="submit" id="submit_review">Отправить отзыв</button>
                </div>
            </form>
    </div>
</div>




 </main>

<!-- <script>
function handleFileSelect(evt) {
    var file = evt.target.files; // FileList object
    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {
        // Only process image files.
        if (!f.type.match('image.*')) {
            alert("Image only please....");
        }
        var reader = new FileReader();
        // Closure to capture the file information.
        reader.onload = (function (theFile) {
            return function (e) {
                // Render thumbnail.
                var span = document.createElement('span');
                span.innerHTML = ['<img class="thumb" title="', escape(theFile.name), '" src="', e.target.result, '" />'].join('');
                document.getElementById('outputMulti').insertBefore(span, null);
            };
        })(f);
        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
    }
}
document.getElementById('fileMulti').addEventListener('change', handleFileSelectMulti, false);
</script> -->

{% endblock content %}