
{% load static %}

    <div class="wrapper reviews-wrapper">
        <div class="cards-wrapper">
            <h2 class="section-title section-title-reviews">Последние отзывы</h2>
        </div>
        <div class="swiper mySwiper container reviews-content">
                <div class="swiper-wrapper content">
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="swiper-slide review-column">
                            <div class="review-item">
                                    <div class="review-content">

                                        <img class="img-foto" src={{ review.resort.image.url }} width="348" height="240">

                                        <div class="review-content-text">
                                            <div class="review-author-name">{{ review.author|capfirst }}</div>
                                            <div class="review-author-subname">{{ review.riding_level }}</div>
                                            <a href="{{ review.resort.get_absolute_url }}"><h3 class="review-resort-name">{{ review.resort.name }}</h3></a>
                                            <ul class="stars-list">
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                            </ul>
                                            <div class="rating rating-montains">
                                                <img src="{% static 'image/reviews/mountains.svg' %}" alt="Горы">
                                                <div> <span>10</span>/<span>10</span> </div>
                                            </div>
                                            <div class="rating rating-skier">
                                                <img src="{% static 'image/reviews/snowboarding.svg' %}" alt="Лыжник">
                                                <div> <span>10</span>/<span>10</span> </div>
                                            </div>
                                            <div class="rating rating-lift">
                                                <img src="{% static 'image/reviews/lift.svg' %}" alt="Подъемник">
                                                <div> <span>8</span>/<span>10</span> </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="review-text">
                                        <div class="review-title">Отзыв:</div>
                                        <div class="review-title-text">
                                            <p>{{ review.text }}</p>
                                        </div>

                                    </div>

                                    <a class="btn-reviews" href="#">Подробнее</a>

                                </div>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
        </div>
        <img  class="swiper-button-next" src="{% static 'image/reviews/chevron_right.svg' %}" alt="">
        <img  class="swiper-button-prev" src="{% static 'image/reviews/chevron_left.svg' %}" alt="">
        <div class="swiper-pagination"></div>
    </div>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 2,
        spaceBetween: 80,
        slidesPerGroup: 2,
        loop: false,
        loopFillGroupWithBlank: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>



