{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<div class="editing_profile-container">
    <div class="editing_profile-box">
        <h1 class="section-title-accounts">Профиль</h1>
        <form method="post" action="{% url 'userprofile_page' %}" enctype='multipart/form-data'  class="editing_profile">
            {% csrf_token %}
            <div class="block1-2-3-4">
                <div class="block1">
                    <div class="user_foto_container">
                        <img src="#" alt="" class="user_foto">
                        <!-- <input type="file"> -->
                    </div>
                </div>
                <div class="block2-3-4">
                    <div class="block block2">
                        <label class="label-text" for="user_name">Имя</label>
                        <input type="text" name="user_name" id="user_name" class="input-field-accounts" minlength="2" maxlength="14" required>
                    </div>
                    <div class="block block3">
                        <label class="label-text" for="user_surname">Фамилия</label>
                        <input type="text" name="user_surname" id="user_surname" class="input-field-accounts" minlength="2" maxlength="14" required>
                    </div>
                    <div class="block block4">
                        <label class="label-text" for="user_niсkname">Никнэйм</label>
                        <input type="text" name="user_niсkname" id="user_niсkname" class="input-field-accounts" minlength="2" maxlength="20" required>
                    </div>
                </div>
            </div>



            <div class="block5-7">
                <div class="block block5">
                    <label class="label-text" for="user_country">Страна</label>
                    <input type="text" name="user_country" id="user_country" class="input-field-accounts" minlength="2" maxlength="20" required>
                </div>
                <div class="block block6">
                    <label class="label-text" for="user_city">Город</label>
                    <input type="text" name="user_city" id="user_city" class="input-field-accounts" minlength="2" maxlength="20" required>
                </div>
                <div class="block block7">
                    <p class="registration-date">Дата регистрации:</p>
                    <p class="registration-date"><span>18</span> <span>фев</span> <span>2023</span></p>
                </div>

            </div>
            <hr class="hr-line">
            <div class="btn-container">
                <button class="btn submit-btn-accounts">Сохранить</button>
            </div>
        </form>
    </div>
    <p class="delete-account"><a href="#" id="delete-account">Удалить профиль</a></p>

    <div class="_modal" id="modal-account-delete" data-modal="modal-account-delete">
        <div class="form-register__box">
            <button class="modal-profile__close js-btn-modal-close" data-modal-close="modal-account-delete">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.71507 0.280712C1.52693 0.0985542 1.27495
                    -0.00224062 1.0134 3.78025e-05C0.751843 0.00231622 0.501645 0.107485 0.316692 0.292894C0.131738
                    0.478302 0.0268265 0.729114 0.0245536 0.991311C0.0222808 1.25351 0.122829 1.50611 0.30454 1.69471L5.58457
                    6.98771L0.30454 12.2807C0.209264 12.373 0.133268 12.4833 0.0809879 12.6053C0.0287073 12.7273 0.00118865
                    12.8585 3.76645e-05 12.9913C-0.00111332 13.1241 0.0241262 13.2558 0.0742838 13.3787C0.124441 13.5016
                    0.198513 13.6132 0.292175 13.7071C0.385838 13.801 0.497216 13.8753 0.619811 13.9255C0.742406 13.9758
                    0.873763 14.0011 1.00622 14C1.13867 13.9988 1.26957 13.9712 1.39127 13.9188C1.51298 13.8664 1.62305 13.7902
                    1.71507 13.6947L6.9951 8.40171L12.2751 13.6947C12.4633 13.8769 12.7153 13.9777 12.9768 13.9754C13.2384 13.9731
                    13.4886 13.8679 13.6735 13.6825C13.8585 13.4971 13.9634 13.2463 13.9657 12.9841C13.9679 12.7219 13.8674 12.4693
                    13.6857 12.2807L8.40564 6.98771L13.6857 1.69471C13.8674 1.50611 13.9679 1.25351 13.9657 0.991311C13.9634 0.729114
                    13.8585 0.478302 13.6735 0.292894C13.4886 0.107485 13.2384 0.00231622 12.9768 3.78025e-05C12.7153 -0.00224062 12.4633
                    0.0985542 12.2751 0.280712L6.9951 5.57371L1.71507 0.280712Z" fill="#2C2D2E"/>
                </svg>
            </button>

            <img src="{% static 'image/accounts/logo.svg' %}" alt="logo" class="form-register__icon">

            <h1 class="form-title form-title-message">Удаление аккаунта</h1>
            <p class="message-text account-delete-message-text">Вы уверены, что хотите удалить<br> вашу учетную запись? Все ваши данные<br> и информация будут безвозвратно удалены.</p>
            <button class="submit-btn submit-btn-short submit-btn-short-blue" id="overlay-delete-account">Удалить</button>
            <div class="cancel-deletion">
                <a href="#">Отменить</a>
            </div>
        </div>
    </div>

    <div class="_modal" id="modal-account-delete1" data-modal="modal-account-delete1">
        <div class="form-register__box">
            <button class="modal-profile__close js-btn-modal-close" data-modal-close="modal-account-delete1">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.71507 0.280712C1.52693 0.0985542 1.27495
                    -0.00224062 1.0134 3.78025e-05C0.751843 0.00231622 0.501645 0.107485 0.316692 0.292894C0.131738
                    0.478302 0.0268265 0.729114 0.0245536 0.991311C0.0222808 1.25351 0.122829 1.50611 0.30454 1.69471L5.58457
                    6.98771L0.30454 12.2807C0.209264 12.373 0.133268 12.4833 0.0809879 12.6053C0.0287073 12.7273 0.00118865
                    12.8585 3.76645e-05 12.9913C-0.00111332 13.1241 0.0241262 13.2558 0.0742838 13.3787C0.124441 13.5016
                    0.198513 13.6132 0.292175 13.7071C0.385838 13.801 0.497216 13.8753 0.619811 13.9255C0.742406 13.9758
                    0.873763 14.0011 1.00622 14C1.13867 13.9988 1.26957 13.9712 1.39127 13.9188C1.51298 13.8664 1.62305 13.7902
                    1.71507 13.6947L6.9951 8.40171L12.2751 13.6947C12.4633 13.8769 12.7153 13.9777 12.9768 13.9754C13.2384 13.9731
                    13.4886 13.8679 13.6735 13.6825C13.8585 13.4971 13.9634 13.2463 13.9657 12.9841C13.9679 12.7219 13.8674 12.4693
                    13.6857 12.2807L8.40564 6.98771L13.6857 1.69471C13.8674 1.50611 13.9679 1.25351 13.9657 0.991311C13.9634 0.729114
                    13.8585 0.478302 13.6735 0.292894C13.4886 0.107485 13.2384 0.00231622 12.9768 3.78025e-05C12.7153 -0.00224062 12.4633
                    0.0985542 12.2751 0.280712L6.9951 5.57371L1.71507 0.280712Z" fill="#2C2D2E"/>
                </svg>
            </button>

            <img src="{% static 'image/accounts/logo.svg' %}" alt="logo" class="form-register__icon">

            <h1 class="form-title form-title-message">Удаление аккаунта</h1>
            <h2 class="message-title">Аккаунт успешно удалён</h2>
            <img src="{% static 'image/accounts/tuiIconCheckCircleLarge.svg' %}" alt="">
            <p class="message-text account-delete-message-text">Спасибо за то, что были с нами!<br> Будем скучать ;&#10099; </p>
            <button class="submit-btn submit-btn-short submit-btn-short-blue"><a href="{% url 'resorts' %}">Пока-пока</a></button>
        </div>
    </div>
</div>
{% endblock %}