
{% load static %}
{% block content %}
<div class="reviews-account-container">
    {% if reviews %}
    <div class="reviews-account-box">
        <h1 class="section-title-accounts">Отзывы   <span>{{ reviews|length }}</span></h1>

                        <div class="reviews-content-account">
                        {% for review in reviews %}
                            <div class="review-column-account">
                                <div class="review-item-account">
                                    <div class="review-content-account">
                                        <img class="img-foto" src={{ review.resort.image.url }} alt="Большой Вудьявр" width="207" height="207">
                                        <div class="review-content-text-account">
                                            <div class="review-resort-name-account">{{ review.resort.name }}</div>

                                            <ul class="stars-list">
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                            </ul>

                                            <div class="review-text-account">
                                                <div class="review-title">Отзыв:</div>
                                                <p class="">{{ review.text }}</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
    </div>
    {% endif %}
</div>
{% endblock %}