
{% load static %}
{% block content %}
<div class="reviews-account-container">
    <div class="reviews-account-box">
        <h1 class="section-title-accounts">Отзывы   <span>2</span></h1>

                        <div class="reviews-content-account">

                            <div class="review-column-account">
                                <div class="review-item-account">
                                    <div class="review-content-account">
                                        <img class="img-foto" src="{% static 'image/reviews/roza_hutor.jpg' %}" alt="Большой Вудьявр">
                                        <div class="review-content-text-account">
                                            <div class="review-resort-name-account">Роза Хутор</div>

                                            <ul class="stars-list">
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                            </ul>

                                            <div class="review-text-account">
                                                <div class="review-title">Отзыв:</div>
                                                <p class="review-title-text">Классный курорт, разнообразные трассы всех уровней
                                                сложностей, красивые виды, развитая инфраструктура. Из минусов: огромные
                                                очереди и ценник на скипасс почти как в Альпах. Но все таки альтернативы
                                                данному курорту на сегодняшний день в России нет.</p>
                                            </div>

                                        </div>
                                    </div>
                                    <a class="btn-reviews" href="#">Подробнее</a>
                                </div>
                            </div>

                            <div class="review-column-account">
                                <div class="review-item-account">
                                    <div class="review-content-account">
                                        <img class="img-foto" src="{% static 'image/reviews/roza_hutor.jpg' %}" alt="Большой Вудьявр">
                                        <div class="review-content-text-account">
                                            <div class="review-resort-name-account">Роза Хутор</div>

                                            <ul class="stars-list">
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                                <li class="stars-item">
                                                    <img src="{% static 'image/reviews/reviews_rating.svg' %}" alt="звезда">
                                                </li>
                                            </ul>

                                            <div class="review-text-account">
                                                <div class="review-title">Отзыв:</div>
                                                <p class="review-title-text">Классный курорт, разнообразные трассы всех уровней
                                                сложностей, красивые виды, развитая инфраструктура. Из минусов: огромные
                                                очереди и ценник на скипасс почти как в Альпах. Но все таки альтернативы
                                                данному курорту на сегодняшний день в России нет.</p>
                                            </div>

                                        </div>
                                    </div>
                                    <a class="btn-reviews" href="#">Подробнее</a>
                                </div>
                            </div>

                        </div>
    </div>
</div>
{% endblock %}