.content {
    text-align: center;
}
/* --------PAGE-------------------------------------------------- */

.page_resorts-banner {
    height: 570px;
}

.page-basic-info {
    margin: -81px 0px 0px 0px;
}

.page-additional-info {
    padding-top: 200px;
    padding-bottom: 200px;
}

.page-price-skipass {
    padding-bottom: 200px;
}


/*-----BASIC-INFO----------------------------------------- */

.basic-info-container {
    position: relative;
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 12px 25px 12px;

    border-radius: 21px;
    background: #ffff;

    z-index: 3;
}

.basic-info-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -20px;
    justify-content: center;
    align-items: center;
}

.basic-info-left {
    padding: 0px 10px 10px 10px;
    margin: 0px 153px 0px 83px;
}

.basic-info-item {
    text-align: center;
}

.basic-info-resort {
    text-align: center;
}

.block-vert-line{
    height: 305px;
    border-left: 1px solid #D9D9D9;
  }

.basic-info-right {
    padding: 0px 0px 10px 53px;
}

.basic-info-description {
    text-align: start;
}

.resort-content {
    margin-bottom: 40px;
}

.resort-name {
    font-size: 37px;
    line-height: 70px;
    font-weight: 700;

    color: #005FF9;
}

.resort-region {
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 28px;
    font-weight: 700;

    color: #B1B2B7;
}

.resort-link-site {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;

    color: #005FF9;
}

.resort-sezon {
    margin-top: 19px;

    font-size: 20px;
    line-height: 32px;
    font-weight: 600;

    color: #2C2D2E;
}

/* .resort-sezon-value {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;

    color: #2C2D2E;
} */

.resort-button {
    display: flex;
}

.resort-button-box {
    text-align: center;
}

.left {
    margin-right: 48px;
}

.resort-btn {
    border-radius: 8px;
    user-select: none; 
    cursor: pointer;
    padding: 17px 43px;
    border: 2px solid #FAA800;
}

.resort-btn-favorites {
    background: #FAA800;
}

.resort-btn-comparison {
    background: #fff;
}

.resort-btn:hover {
    opacity: 0.7;
}

.resort-btn-text {
    margin-top: 12px;

    font-size: 20px;
    line-height: 32px;
    font-weight: 600;

    color: #B1B2B7;
}

.resort-description {
    max-width: 604px;

    font-size: 20px;
    line-height: 28px;
    font-weight: 400;

    color: #2C2D2E;
}

.resort-description p:not(:last-child) {
    margin-bottom: 20px;
}



/*------ADDITIONAL-INFO----------------------------------------- */

.additional-info-container {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0px -20px; */
    justify-content: space-between;
    align-items: center;
}

.additional-info-property {
    min-width: 350px;
    /* text-align: start; */
}

.nav-property {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.nav-property li {
    display: flex;
    justify-content: space-between;
}

.nav-property li:not(:last-child) {
    margin-bottom: 28px;    
}

.nav-property img {
    display: inline-block;
    vertical-align: middle;
}

.card-body {
    max-width: 350px;
    display: block;
    padding: 12px 20px 20px 20px;
    text-align: center;

    color: #2C2D2E;
}

.timer {
    width: 100%;
    height: 260px;
    border-radius: 50%;
    display: flex;  
    justify-content: center;
    align-items: center;  
    overflow: hidden;
    position: relative;
}

.timer-text {
    margin-top: 28px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #2C2D2E;
}

.timer__line {
    position: absolute;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green; */
}

.timer__line span {
    position: absolute;
    z-index: 5;
    color: #000;
}

.timer__line svg {
    transform: rotate(-90deg);
}


.timer__body {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    z-index: 4;
}

.timer__counter span {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 180px;
}

.pie circle {
    fill: none;
    stroke-width: 8; /* толщина линии */
    cursor: pointer;
  }

  .pie circle:nth-of-type(1) {
    stroke: #7B7B7B;
    stroke-dasharray: 15 100;
  }

  .pie circle:nth-of-type(2) {
    stroke: #EC818F;
    stroke-dasharray: 0 15 30 100;
  }

  .pie circle:nth-of-type(3) {
    stroke: #ABE991;
    stroke-dasharray: 0 45 37 100;
  }

  .pie circle:nth-of-type(4) {
    stroke:  #99DCED;
    stroke-dasharray: 0 82 18 100;
  }

  
.nav-lift-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.nav-lift {
    display: flex;
    max-width: 350px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
}

.nav-lift li {
    min-width: 167px;
    text-align: center;
    margin-bottom: 28px;

    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.bl {
    margin-top: 8px;
    display: block;
}

.resort-map {
    margin-top: 28px;
    padding: 14px 40px;
    background-color: #005FF9;
    border-radius: 12px;

    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

    color: #fff;

    cursor: pointer;
}

.resort-map:hover {
    opacity: 0.6;
}

/*-------------Prise-skipass-------------*/

.table-title {
    margin-bottom: 40px;

    color: #0042AD;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
}

.conten-btn {
    margin: 0 auto;
    margin-bottom: 28px;
}

.table-button {
    display: flex;
    justify-content: center;
    /* max-width: 685px; */
}

.table-button div:first-child {
    margin-right: 108px;
}

.table-button-group  {
    overflow: hidden;
}

.table-button-group button {
    padding: 10px 10px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    border: 2px solid #005FF9;
    float: left;
    cursor: pointer;
}

.table-button-group button:hover {
    opacity: 0.6;
}

.table-button-group button:first-child {
    border-radius: 32px 0 0 32px;
    border-right: none;
}

.table-button-group button:last-child {
    border-radius: 0 32px 32px 0px;
    border-left: none;
}

.table-button-blue {
    background-color: #005FF9;
    color: #fff;
}

.table-button-white {
    background-color: #fff;
    color: #005FF9;
}

.table{
	/* border: 1px solid #eee;
	table-layout: fixed; */
	width: 100%;
	margin-bottom: 20px;
    border-collapse: separate;
    /* border-spacing: 0px; */
}

.table th {
    border-top: none;
    border-bottom: none;
    min-width: 404px;
	padding-top: 30px;
    padding-bottom: 30px;
	background: #005FF9;

    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.table thead tr th:first-child {
	border-radius: 20px 0 0 0;
}

.table thead tr th:last-child {
	border-radius: 0 20px 0 0;
}

.table td {
	padding-top: 16px;
    padding-bottom: 16px;
	text-align: center;
}

.table tbody td {
    border: none;
}

.table tbody tr:nth-child(odd){
	background: #fff;
}

.table tbody tr:nth-child(even){
	background: #F5F5F7;
}


.table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
    box-shadow: -1px 1px 10px #F5F5F7;
}

.table tbody tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
    box-shadow: 1px 1px 10px #F5F5F7;
}

.table tbody tr:last-child td:nth-child(even) {
    box-shadow: 0px 1px 10px #F5F5F7;
}


